.tiptap-preview {
  box-sizing: border-box;
  border-width: 0;
  border-left-width: 0px;
  border-style: solid;
  border-color: hsl(var(--richtext-border));
}

.form-comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-comment button[type="submit"] {
  margin-left: auto;
  padding: 10px 20px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
}